$breakpoint-lg: 1200px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$container-lg: 1375px;
$container-md: 720px;
$container-sm: 540px;
$p: 15px;

@mixin container {
    width: 100%;
    max-width: $container-lg;
    margin: 0 auto;
    padding-left: $p;
    padding-right: $p;
    @media screen and (max-width: $breakpoint-lg) {
        max-width: $container-md;
    }

    @media screen and (max-width: $breakpoint-md) {
        max-width: $container-sm;
    }

    @media screen and (max-width: $breakpoint-sm) {
        max-width: none;
    }
}

@mixin swiperButton {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}